<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <h2>Name: <%=superhero.name%></h2>
        <h2>Gender: <%=superhero.appearance.gender%></h2>
        <img src="<%=superhero.image.url%>">
        <!-- <h3>Powers: <%=superhero.powers%></h3> -->
    </body>
</html>